$body-size: 1.4rem;
$body-size-mobile: 1.3rem;

/* COLORS */
$orange: #DAA820;
$dk-navy: #0A4B69;
$navy: #046895;
$turq: #5DE0E0;
$lt-turq: #8fcece;
$lt-blue: #D5E7F8;

/* FONTS */
$fira: "fira-sans";
$fira-cond: "fira-sans-condensed";
$ibm: "ibm-plex-sans";
$marine: "marine";
$lt: 300;
$reg: 400;
$med: 500;
$semi: 600;
$bold: 700;

$left-content-margin: 100;
$right-content-margin: 250;
